
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

div.dt-button-collection.dropdown-menu.four-column {
  width: 800px;
}

div.dt-button-collection.dropdown-menu.three-column {
  width: 600px;
}

// .btn-default {
//   color: rgba(0, 0, 0, 0.7);
//   background-color: transparent;
//   border-color: transparent;
// }

// .btn-default:hover {
//   color: #212529;
//   background-color: transparent;
//   border-color: transparent;
// }

// .btn-default:focus,
// .btn-default.focus {
//   box-shadow: none;
// }

// .btn-default.disabled,
// .btn-default:disabled {
//   color: #212529;
//   background-color: transparent;
//   border-color: transparent;
// }

// .btn-default:not(:disabled):not(.disabled):active,
// .btn-default:not(:disabled):not(.disabled).active,
// .show > .btn-default.dropdown-toggle {
//   color: #212529;
//   background-color: transparent;
//   border-color: transparent;
// }

// .btn-default:not(:disabled):not(.disabled):active:focus,
// .btn-default:not(:disabled):not(.disabled).active:focus,
// .show > .btn-default.dropdown-toggle:focus {
//   box-shadow: none;
// }